n8n-workflows/06-session-memory-bridge.json
{
  "name": "🧠 Merlin Session Memory Bridge",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "swarm/session/memory",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "session-memory-webhook",
      "name": "Session Memory Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "session-memory-bridge"
    },
    {
      "parameters": {
        "jsCode": "// Validate payload and enforce memory_write approval gate\nconst body = $input.first().json.body || $input.first().json;\nconst action = body.action || 'write';\n\nif (action === 'write') {\n  const required = ['session_id', 'user_input_hash', 'context_summary', 'approved_by'];\n  for (const field of required) {\n    if (!body[field]) throw new Error(`Missing required field: ${field}`);\n  }\n\n  if (body.approved_by !== 'user_explicit') {\n    throw new Error('memory_write gate: approved_by must be user_explicit. Automatic writes are not permitted.');\n  }\n\n  const sessionId = body.session_id;\n  const timestamp = new Date().toISOString();\n  const memoryId = `sess_${sessionId}_${Date.now()}`;\n  const memoryType = body.memory_type || 'working';\n  const ttlSeconds = memoryType === 'episodic' ? 2592000 : 14400;\n  const contextTruncated = (body.context_summary || '').substring(0, 1500);\n\n  return {\n    action: 'write',\n    memory_id: memoryId,\n    session_id: sessionId,\n    user_input_hash: body.user_input_hash,\n    context_summary: contextTruncated,\n    memory_type: memoryType,\n    ttl_seconds: ttlSeconds,\n    approved_by: body.approved_by,\n    timestamp,\n    source: 'session-memory-bridge',\n    collection: 'merlin_session',\n    embedding_model: 'nomic-embed-text',\n    embedding_prompt: `${sessionId} ${contextTruncated.substring(0, 500)}`\n  };\n} else if (action === 'read') {\n  if (!body.session_id && !body.query) {\n    throw new Error('Read action requires session_id or query field');\n  }\n  const query = body.query || body.session_id;\n  return {\n    action: 'read',\n    session_id: body.session_id || null,\n    query,\n    top_k: body.top_k || 3,\n    timestamp: new Date().toISOString(),\n    collection: 'merlin_session',\n    embedding_model: 'nomic-embed-text',\n    embedding_prompt: query\n  };\n} else {\n  throw new Error(`Unknown action: ${action}. Use 'write' or 'read'.`);\n}"
      },
      "id": "validate-gate-check",
      "name": "Validate + Gate Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equal",
              "value2": "write"
            }
          ]
        }
      },
      "id": "route-action",
      "name": "Route: Write or Read",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/merlin_session",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"vectors\":{\"size\":768,\"distance\":\"Cosine\"}}",
        "options": { "timeout": 10000 }
      },
      "id": "ensure-collection",
      "name": "Ensure merlin_session Collection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 160],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $('Validate + Gate Check').first().json.embedding_model, prompt: $('Validate + Gate Check').first().json.embedding_prompt }) }}",
        "options": { "timeout": 90000 }
      },
      "id": "generate-write-embedding",
      "name": "Generate Write Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 160],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/merlin_session/points",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ points: [{ id: $('Validate + Gate Check').first().json.memory_id, vector: $json.embedding, payload: { session_id: $('Validate + Gate Check').first().json.session_id, user_input_hash: $('Validate + Gate Check').first().json.user_input_hash, context_summary: $('Validate + Gate Check').first().json.context_summary, memory_type: $('Validate + Gate Check').first().json.memory_type, ttl_seconds: $('Validate + Gate Check').first().json.ttl_seconds, approved_by: $('Validate + Gate Check').first().json.approved_by, timestamp: $('Validate + Gate Check').first().json.timestamp, source: $('Validate + Gate Check').first().json.source } }] }) }}",
        "options": { "timeout": 15000 }
      },
      "id": "upsert-to-qdrant",
      "name": "Upsert to merlin_session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 160],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $('Validate + Gate Check').first().json.embedding_model, prompt: $('Validate + Gate Check').first().json.embedding_prompt }) }}",
        "options": { "timeout": 90000 }
      },
      "id": "generate-query-embedding",
      "name": "Generate Query Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 460],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/merlin_session/points/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ vector: $json.embedding, limit: $('Validate + Gate Check').first().json.top_k, with_payload: true }) }}",
        "options": { "timeout": 15000 }
      },
      "id": "query-qdrant",
      "name": "Query merlin_session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 460],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Validate + Gate Check').first().json.action === 'write' ? { status: $json.error ? 'degraded' : 'stored', warning: $json.error ? 'Qdrant unavailable — session continues without memory' : null, memory_id: $('Validate + Gate Check').first().json.memory_id, collection: 'merlin_session', ttl_seconds: $('Validate + Gate Check').first().json.ttl_seconds } : { status: $json.error ? 'degraded' : 'recalled', warning: $json.error ? 'Qdrant unavailable — session continues without memory' : null, results: $json.result || [], collection: 'merlin_session' }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "session-memory-response",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1580, 300]
    }
  ],
  "connections": {
    "Session Memory Webhook": {
      "main": [[{ "node": "Validate + Gate Check", "type": "main", "index": 0 }]]
    },
    "Validate + Gate Check": {
      "main": [[{ "node": "Route: Write or Read", "type": "main", "index": 0 }]]
    },
    "Route: Write or Read": {
      "main": [
        [{ "node": "Ensure merlin_session Collection", "type": "main", "index": 0 }],
        [{ "node": "Generate Query Embedding", "type": "main", "index": 0 }]
      ]
    },
    "Ensure merlin_session Collection": {
      "main": [[{ "node": "Generate Write Embedding", "type": "main", "index": 0 }]]
    },
    "Generate Write Embedding": {
      "main": [[{ "node": "Upsert to merlin_session", "type": "main", "index": 0 }]]
    },
    "Upsert to merlin_session": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    },
    "Generate Query Embedding": {
      "main": [[{ "node": "Query merlin_session", "type": "main", "index": 0 }]]
    },
    "Query merlin_session": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": ""
  },
  "versionId": "1.0.0",
  "meta": { "instanceId": "home-ai-elite-session-memory-v1" },
  "tags": [
    { "name": "session" },
    { "name": "memory" },
    { "name": "phase-2e" },
    { "name": "msc-4" }
  ]
}
