n8n-workflows/ai-router-starter.json
{
  "name": "AI Router Starter",
  "nodes": [
    {
      "parameters": {},
      "id": "node-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "task", "value": "Replace with your local task" },
            { "name": "route_id", "value": "local" },
            { "name": "preferred_model_alias", "value": "qwen2.5:7b" },
            { "name": "cloud_provider", "value": "disabled" }
          ],
          "boolean": [
            { "name": "requires_approval", "value": false }
          ]
        },
        "options": {}
      },
      "id": "node-2",
      "name": "Set Task",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst routeId = item.route_id || 'local';\nconst cloudRequested = ['cloud_research', 'cloud_code', 'cloud'].includes(routeId);\nconst approvalGates = cloudRequested\n  ? ['cloud_model_call', 'external_network', 'api_key_use']\n  : [];\n\nreturn {\n  task: item.task || '',\n  route_id: routeId,\n  preferred_model_alias: item.preferred_model_alias || 'qwen2.5:7b',\n  selected_backend: cloudRequested ? 'approval_required' : 'local_ollama',\n  requires_approval: cloudRequested || item.requires_approval === true,\n  approval_gates: approvalGates,\n  approval_status: cloudRequested ? 'blocked_until_user_approval' : 'not_required',\n  cloud_provider: cloudRequested ? item.cloud_provider || 'user_selected' : 'disabled',\n  policy_contract: 'local_first_no_auto_cloud_escalation'\n};"
      },
      "id": "node-3",
      "name": "Policy Gate + Route Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.requires_approval }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-4",
      "name": "Approval Required?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "status", "value": "approval_required" },
            { "name": "message", "value": "Cloud model calls require explicit user approval before execution." },
            { "name": "route_id", "value": "={{ $json.route_id }}" },
            { "name": "selected_backend", "value": "approval_required" },
            { "name": "approval_gates", "value": "={{ JSON.stringify($json.approval_gates) }}" }
          ],
          "boolean": [
            { "name": "executed", "value": false },
            { "name": "requires_approval", "value": true }
          ]
        },
        "options": {}
      },
      "id": "node-5",
      "name": "Cloud Approval Blocked",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 180]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:11434/api/generate",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\": \"={{ $json.preferred_model_alias }}\", \"prompt\": \"={{ $json.task }}\", \"stream\": false}",
        "options": { "timeout": 90000 }
      },
      "id": "node-6",
      "name": "Ollama Local",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 440],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          { "node": "Set Task", "type": "main", "index": 0 }
        ]
      ]
    },
    "Set Task": {
      "main": [
        [
          { "node": "Policy Gate + Route Metadata", "type": "main", "index": 0 }
        ]
      ]
    },
    "Policy Gate + Route Metadata": {
      "main": [
        [
          { "node": "Approval Required?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Approval Required?": {
      "main": [
        [
          { "node": "Cloud Approval Blocked", "type": "main", "index": 0 }
        ],
        [
          { "node": "Ollama Local", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "1.3.0",
  "meta": {
    "instanceId": "home-ai-elite-local-first-ai-router-v1"
  },
  "tags": [
    { "name": "router" },
    { "name": "local-first" },
    { "name": "approval-gated" },
    { "name": "v1.3" }
  ]
}
